/* Cors ----------------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    font-style: normal;
    background-color: rgb(35, 35, 35);
    color: #ebe6e6;
}

body.hidden {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header --------------------------------------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(35, 35, 35);
}

.header-content {
    display: flex;
    align-items: center;

    padding: 8px 0;
    height: 60px;
}

/* Header Logo -------------------------------------- */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    cursor: pointer;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-icon {
    height: 100%;
    width: auto;
    max-width: none;
}

.logo svg {
    color: #e3e3e3;

    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.logo:hover svg {
    color: rgb(135, 116, 225, 1);
}

/* Header Nav -------------------------------------- */
.nav {
    display: none;
}

/* Burger icon -------------------------------------- */
.button-burger {
    margin-left: auto;

    width: 34px;
    height: 34px;
}

.burger-menu-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.burger-middle-icon {
    position: absolute;
    top: 50%;
    right: 0;

    width: 66%;
    height: 3px;

    background-color: #e3e3e3;
    transform: translateY(-50%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

.burger-menu-icon::before,
.burger-menu-icon::after {
    content: '';

    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    border-radius: 20px;
    background-color: #e3e3e3;

    transition: all 0.3s ease-in-out;
}

.burger-menu-icon::before {
    top: 15%;
}

.burger-menu-icon::after {
    bottom: 15%;
}

.button-burger:hover .burger-middle-icon,
.button-burger:hover .burger-menu-icon::before,
.button-burger:hover .burger-menu-icon::after {
    background-color: #8774e1;
}

.button-burger.open-menu .burger-middle-icon {
    opacity: 0;
}

.button-burger.open-menu .burger-menu-icon::before {
    transform: rotate(45deg);
    top: 42%;
}

.button-burger.open-menu .burger-menu-icon::after {
    transform: rotate(-45deg);
    bottom: 50%;
}

/* Burger menu --------------------------------------------*/
.menu-burger {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;

    height: calc(100% - 60px);
    padding: 20px;

    overflow-y: auto;

    background-color: rgb(35, 35, 35);

    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);

    transition: transform 0.8s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: transform 0.8s ease-in-out,
        background-color 0.3s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out,
        background-color 0.3s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out,
        background-color 0.3s ease-in-out;
    -o-transition: transform 0.8s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-burger.open {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.nav-burger-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    text-align: center;
}

/* Начально состояние пунктов меню*/
.nav-burger-item {
    opacity: 0;
    transition: opacity 1s ease, transform 1.2s ease;
    -webkit-transition: opacity 1s ease, transform 1.2s ease;
    -moz-transition: opacity 1s ease, transform 1.2s ease;
    -ms-transition: opacity 1s ease, transform 1.2s ease;
    -o-transition: opacity 1s ease, transform 1.2s ease;
}

/* Разные начальные позиции */
.nav-burger-item:nth-child(even) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
}

.nav-burger-item:nth-child(odd) {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}

.nav-burger-item:first-child {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.nav-burger-item:last-child {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}

/* Состояние при открытом меню */
.menu-burger.open .nav-burger-item {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

/* Задержки для каждого пункта */
.menu-burger.open .nav-burger-item:nth-child(1) {
    transition-delay: 0.8s;
}
.menu-burger.open .nav-burger-item:nth-child(2) {
    transition-delay: 1s;
}
.menu-burger.open .nav-burger-item:nth-child(3) {
    transition-delay: 1.2s;
}
.menu-burger.open .nav-burger-item:nth-child(4) {
    transition-delay: 1.4s;
}
.menu-burger.open .nav-burger-item:nth-child(5) {
    transition-delay: 1.6s;
}

.nav-burger-link,
.nav-link {
    position: relative;
    color: #ebe6e6;
    font-size: 24px;
}

.nav-burger-link:hover,
.nav-link:hover {
    color: rgb(135, 116, 225, 1);
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.nav-burger-link::after,
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 0;
    height: 2px;

    color: #8774e1;
    background-color: #8774e1;
    border-bottom: #8774e1;

    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
}

.nav-burger-link:hover::after,
.nav-link:hover::after {
    width: 100%;
}

/* Main ------------------------------------------------------------------------------------- */
.main {
    padding-top: 80px;

    flex: 1 0 auto;
}

/* Footer ------------------------------------------------------------------------------------ */
.footer {
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .header-content {
        height: 80px;
    }

    .main {
        padding-top: 100px;
    }

    .nav {
        display: block;

        margin-left: auto;

        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .menu-burger {
        display: none;
    }

    .button-burger {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

@media (min-width: 1024px) {
    .header-content {
        height: 100px;
    }

    .main {
        padding-top: 120px;
    }
    .nav-list {
        gap: 30px;
    }

    .nav-burger-link,
    .nav-link {
        font-size: 28px;
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 24px;
    }

    .nav-burger-link,
    .nav-link {
        font-size: 32px;
    }
}
@media (min-width: 2560px) {
    body {
        font-size: 32px;
    }

    .header-content {
        height: 120px;
    }

    .main {
        padding-top: 140px;
    }

    .nav-burger-link,
    .nav-link {
        font-size: 40px;
    }
}
